body {
  margin: 0;
}

.container {
  width: 800px;
}

.horizontal {
  margin: 50px;

  .tabs {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;

    li {
      //display: inline-block;
      margin-right: 1px;
      background-color: #69ca38;
      width: 100px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 2px solid #69ca38;
      border-bottom: none;
      box-sizing: border-box;
      cursor: pointer;
      color: #fff;
    }
    .active {
      background-color: #fff;
      color: #000;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        background-color: white;
        height: 3px;

      }
    }
  }
  .content {
    display: none;
    border: 2px solid #69ca38;
    padding: 5px;
  }
  .active {
    display: block;
  }
}


.vertical {
  margin: 50px;
  .wrap {
    display: flex;
    justify-content: flex-start;
  }
  .tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1px;
      background-color: #69ca38;
      width: 100px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 2px solid #69ca38;
      border-right: none;
      box-sizing: border-box;
      cursor: pointer;
      color: #fff;
    }
    .active {
      background-color: #fff;
      color: #000;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -2px;
        background-color: white;
        width: 3px;

      }
    }
  }
  .content {
    display: none;
    border: 2px solid #69ca38;
    padding: 5px;
  }
  .active {
    display: block;
  }
}










